Repository fossabot/claude-runner: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=1000, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=1000", "prettier --write"],
  "*.{js,jsx,json,css,md}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

update docs (#6)
  README.md
  VERSION
  assets/runworkflow.png
  package.json
Due: prettier --write

UI fix
  .github/workflows/claude-test3.yml
  .vscode/settings.json
  src/components/common/CommandForm.tsx
  src/components/panels/RunnerPanel.tsx
  src/components/panels/WorkflowsPanel.tsx
  src/components/pipeline/PipelineControls.tsx
  src/components/pipeline/TaskList.tsx
  src/components/views/CommandsView.tsx
  src/services/ClaudeCodeService.ts
  src/services/PipelineService.ts
  src/styles/base.css
  src/styles/components.css
  src/styles/panels.css
  tests/e2e/CommandExecutionSessionIsolationE2E.test.ts
  tests/e2e/ExecutionSessionIsolationE2E.test.ts
  tests/e2e/NewWorkflowButtonActionTest.test.ts
  tests/e2e/NewWorkflowButtonE2E.test.ts
  tests/e2e/SaveWorkflowE2E.test.ts
  tests/e2e/SessionIsolationE2E.test.ts
  tests/fixtures/workflows/isolated-tasks.yml
  tests/fixtures/workflows/session-continuity.yml
  tests/unit/NewWorkflowButton.test.ts
  tests/unit/services/CommandsService.test.ts
Due: eslint --fix --max-warnings=1000, prettier --write

update version (#8)
  README.md
  VERSION
  package.json
  tests/docs/Integration-Test-Analysis.md
  tests/docs/Integration-Test-Fix-Summary.md
Due: prettier --write

Added chat (#9)
  CLAUDE.md
  README.md
  VERSION
  assets/chatui.png
  package.json
  src/components/panels/ChatPanel.tsx
  src/contexts/ExtensionContext.tsx
  src/controllers/RunnerController.ts
  src/providers/ClaudeRunnerPanel.ts
  src/services/ClaudeCodeService.ts
  src/styles/panels.css
  src/types/runner.ts
  tests/e2e/ChatPanelE2E.test.ts
  tests/fixtures/scripts/claude-mock.sh
  tests/unit/components/panels/ChatPanel.history.test.tsx
  tests/unit/components/panels/ChatPanel.test.tsx
  tests/unit/services/ClaudeCodeService.chat.test.ts
Due: eslint --fix --max-warnings=1000, prettier --write

Update pipeline
  .github/workflows/docker-e2e.yml
  .github/workflows/test-pipeline.yml
  tests/docs/README.md
Due: prettier --write

Update pipeline tags
  .github/workflows/docker-e2e.yml
  .github/workflows/test-pipeline.yml
Due: none

Add license scan report and status
  README.md
Due: prettier --write
